---
stages:
  - build
  - release

build:
  stage: build
  image: golang:1.12-alpine
  variables:
    GOPATH: /go
  before_script:
    - apk --no-cache --update add git
    - >
      go get \
        github.com/go-yaml/yaml \
        github.com/jeremywohl/flatten \
        go.mozilla.org/sops/decrypt \
        github.com/hashicorp/vault/api
  script:
     - CGO_ENABLED=0 GOOS=linux go build -ldflags="-s -w" -o vault-kv-updater
  artifacts:
    paths:
      - vault-kv-updater
    expire_in: 1 day
  tags:
    - kubernetes

release:
  stage: release
  image:
    name: gcr.io/kaniko-project/executor:debug-v0.10.0
    entrypoint: [""]
  script:
    - >
      /kaniko/executor \
        --single-snapshot \
        --cache true \
        --destination eu.gcr.io/malt-build/${CI_PROJECT_NAME}:${CI_COMMIT_REF_SLUG} \
        --destination eu.gcr.io/malt-build/${CI_PROJECT_NAME}:${CI_COMMIT_SHORT_SHA}
  dependencies:
    - build
  except:
    changes:
      - .gitignore
      - LICENSE
      - README.md
    refs:
      - web
  tags:
    - kubernetes
